alabaster==0.7.13
altgraph==0.17.4
astroid==3.0.2
Babel==2.14.0
certifi==2024.7.4
charset-normalizer==3.3.2
colour-checker-detection==0.1.5
colour-science==0.4.3
contourpy==1.2.0
coverage==7.3.3
cycler==0.12.1
dill==0.3.7
docutils==0.20.1
execnet==2.0.2
flake8==6.1.0
fonttools==4.46.0
idna==3.7
imageio==2.33.1
imagesize==1.4.1
importlib-resources==6.1.1
iniconfig==2.0.0
isort==5.13.2
Jinja2==3.1.5
kiwisolver==1.4.5
lazy-object-proxy==1.9.0
macholib==1.16.3
MarkupSafe==2.1.3
matplotlib==3.8.2
mccabe==0.7.0
numpy==1.26.2
opencolorio==2.3.1
opencv-python==4.8.1.78
packaging==23.2
pillow==10.3.0
platformdirs==4.1.0
pluggy==1.3.0
pycodestyle==2.11.1
pyflakes==3.1.0
Pygments==2.17.2
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2023.10
pylint==3.0.3
pyparsing==3.1.1
pyqtgraph==0.13.3
PySide6==6.5.3
PySide6-Addons==6.5.3
PySide6-Essentials==6.5.3
pytest==7.4.3
pytest-xdist==3.5.0
python-dateutil==2.8.2
requests==2.32.0
scipy==1.11.4
shiboken6==6.5.3
six==1.16.0
snowballstemmer==2.2.0
Sphinx==7.2.6
sphinx-rtd-theme==2.0.0
sphinxcontrib-applehelp==1.0.7
sphinxcontrib-devhelp==1.0.5
sphinxcontrib-htmlhelp==2.0.4
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.6
sphinxcontrib-serializinghtml==1.1.9
tomli==2.0.1
tomlkit==0.12.3
typing_extensions==4.9.0
urllib3==2.2.2
wrapt==1.16.0
zipp==3.19.1
